.logo{
    width: 75px;
    padding: 1rem;
    margin-right: 1rem;
}

.nav-bar{
    display: flex;
    background: #f7dd8d;
    align-items: center;
    justify-content: center;
}

:global(button).left-button {
    margin-left: 40rem;
}

:global(button).right-button {
    margin-left: 1rem;
}