.cat-item{
    padding: 0.35rem;
    display: flex;
    align-items: center;
    border-left: 1px solid #f7dd8d;
}

.cat-item > * {
    margin-right: 4px;
}

.right-border{
    border-right: 1px solid #f7dd8d;
}